.my-files-section-container {
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.my-files-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.my-files-file-form {
    width: 100%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.my-files-disk-space {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}