<div class="my-files-section-container">

    <div style='width:30%; height:100%;'>
        <div class="my-files-info">

            <div class="my-files-disk-space">
                <div class='w-75 h-50'>
                    <app-disk-space-bar [reloadBar]='updateRequired'></app-disk-space-bar>
                </div>
            </div>
                        
            <div class="my-files-file-form">
                <app-files-form (shouldUpdateEvent)='updateTable($event)'></app-files-form>
            </div>
        
        </div>
    </div>

    <hr>

    <div style='width:70%; height:100%; padding:15px 15px;'>
        <app-files-table [reloadTable]='updateRequired'></app-files-table>
    </div>

</div>