.files-table-container {
    width:100%;
    height: 100%;
    padding: 10px 10px;
    text-align: center;
}

.files-table-container {
    overflow: scroll;
}

.files-table-container::-webkit-scrollbar {
    display: none;
}