<div class="sidebar-container">

    <div class="sidebar-items-container">

        <a routerLink="/dashboard" class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-home"></i>
            </div>

            <div class="sidebar-content"> 
                <span> Home </span>
            </div>

        </a>

        <a routerLink="my-files" class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-files-o"></i>
            </div>

            <div class="sidebar-content"> 
                <span> My files </span>
            </div>

        </a>

        <a class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-file-pdf-o"></i>
            </div>

            <div class="sidebar-content"> 
                <span> PDF </span>
            </div>

        </a>        

        <a class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-file-image-o"></i>
            </div>

            <div class="sidebar-content"> 
                <span> Images </span>
            </div>

        </a>

        <a class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-windows"></i>
            </div>

            <div class="sidebar-content"> 
                <span> Office </span>
            </div>

        </a>  
        
        <a class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-gears"></i>
            </div>

            <div class="sidebar-content"> 
                <span> Settings </span>
            </div>

        </a>          

        <a (click)="logout()" style="cursor:pointer;" class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-sign-out"></i>
            </div>

            <div class="sidebar-content"> 
                <span> Sign Out </span> 
            </div>

        </a> 

    </div>

    <span class='text-center text-white'>
        <i class='fa fa-heart text-danger' title="Made with Love"></i>
        <i class='fa fa-long-arrow-right text-white ml-1' title="by"></i>
        <a class='text-white' target="_blank" href="https://github.com/Nicoconte" title='Nicolas Conte'>
            <i class='fa fa-github ml-1'></i>
        </a>
    </span>

</div>