<div class="sidebar-container">

    <div class="sidebar-items-container">

        <a routerLink="../home" class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-home"></i>
            </div>

            <div class="sidebar-content"> 
                <span> Home </span>
            </div>

        </a>

        <a class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-files-o"></i>
            </div>

            <div class="sidebar-content"> 
                <span> My files </span>
            </div>

        </a>

        <a class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-file-pdf-o"></i>
            </div>

            <div class="sidebar-content"> 
                <span> PDF </span>
            </div>

        </a>        

        <a class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-file-image-o"></i>
            </div>

            <div class="sidebar-content"> 
                <span> Images </span>
            </div>

        </a>

        <a (click)="logout()" style="cursor:pointer;" class="sidebar-item">
            <div class="sidebar-icon">
                <i class="fa fa-sign-out"></i>
            </div>

            <div class="sidebar-content"> 
                <span> Sign Out </span> 
            </div>

        </a> 

    </div>

</div>