.dashboard-container {
    width:100%;
    height:100%;
}


.dashboard-upper-navbar {
    width:100%;
    height: 8%;
    background-color: #0B5D69;
    display: flex;
    flex-direction: row;
}

.dashboard-upper-navbar-btn {
    width:30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dashboard-upper-navbar-btn button {
    background-color: #73A2AC;
    border:1px solid transparent;
}

.dashboard-upper-navbar-btn button:hover, .dashboard-upper-navbar-content button:hover {
    background-color: #FBAA82;
}

.dashboard-upper-navbar-btn button:focus, .dashboard-upper-navbar-content button:focus {
    border:0px solid transparent;
}

.dashboard-upper-navbar-content {
    width: 70%;
    height:100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dashboard-upper-navbar-content button {
    background-color: #73A2AC;
    border-radius: 50%;
    color:white;
    margin-right:35px;
}

.dashboard-content-container {
    width:100%;
    height:92%;
    display: flex;
    flex-direction: row;
}

.dashboard-sidebar-container {
    width:5%;
    height:100%;
    transition:0.2s;
}

.dashboard-content {
    width: 95%;
    height:100%;
}
